$font-stack: "Roboto", sans-serif;

$blue-button: #4b51ef;

$white: #fff;
$back-background: #c1d1f9;
$grey: #bdbdbd;
$grey-button: #afafaf;
$grey-light: #f3f3f3;
$grey-inactive: #b3b3b3;
$grey-form: #a3a3a3;
$grey-borders: #d8d8d8;
$black: #000;
$red: #d91313;
$green: #52cf4f;
